{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Power Supply Create</title>
{% endblock %}
{% block static_ref %}<link rel="stylesheet" href="{% static '/css/styles.css' %}">{% endblock %}

{% block main_content %}

<div class="card">
    <h2>
        Power Supply Create
    </h2>
    <form class="form-group" action="{% url 'psu-create' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="form-submit">
            Submit
        </button>
    </form>
</div>
{% endblock %}