{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>CPU List</title>
{% endblock %}
{% block static_ref %}<link rel="stylesheet" href="{% static '/css/styles.css' %}">{% endblock %}

{% block main_content %}
<h1>
    ~ CPU List ~
</h1>
<p>Can't seem to find what you're looking for? Help us improve the content of our library by adding a <a href="{% url 'cpu-create' %}">new component</a>.</p>
<div class="verified">
    <h2>Verified CPU's</h2>
    {% for cpu in verified %}
        <div class="list-item">
            <h4>{{ cpu.model_name }}</h4>
            <hr>
            <p>{{ cpu.total_cores }} cores @ {{ cpu.p_core_base_clock }} - {{ cpu.p_core_boost_clock }} GHz</p>
            <button><a href="{% url 'cpu-details' cpu_id=cpu.pk %}">Details</a></button>
        </div>
    {% endfor %}
</div>

<div class="not-verified">
    <h2>CPU Entries Under Review</h2>
    {% for cpu in not_verified %}
        <div class="list-item">
            <h4>{{ cpu.model_name }}</h4>
            <hr>
            <p>{{ cpu.total_cores }} cores @ {{ cpu.p_core_base_clock }} - {{ cpu.p_core_boost_clock }} GHz</p>
            <button><a href="{% url 'cpu-details' cpu_id=cpu.pk %}">Details</a></button>
        </div>
    {% endfor %}
</div>
{% endblock %}