{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>RAM List</title>
{% endblock %}

{% block main_content %}
<h1>
    RAM List!!!
</h1>
<p>Can't seem to find what you're looking for? Help us improve the content of our library by adding a <a href="{% url 'ram-create' %}">new component</a>.</p>
<div class="verified">
    <h2>Verified RAM Kits</h2>
    {% for obj in verified %}
        <div class="list-item">
            <h4>{{ obj.total_ram }}GB {{ obj.memory_type }} {{ obj.max_frequency }}MHz</h4>
            <hr>
            <p>{{ obj.manufacturer }} {{ obj.series }}</p>
            <button><a href="{% url 'ram-details' ram_id=obj.pk %}">Details</a></button>
        </div>
    {% endfor %}
</div>

<div class="not-verified">
    <h2>RAM Entries Under Review</h2>
    {% for obj in not_verified %}
        <div class="list-item">
            <h4>{{ obj.total_ram }}GB {{ obj.memory_type }} {{ obj.max_frequency }}MHz</h4>
            <hr>
            <p>{{ obj.manufacturer }} {{ obj.series }}</p>
            <button><a href="{% url 'ram-details' ram_id=obj.pk %}">Details</a></button>
        </div>
    {% endfor %}
</div>
{% endblock %}