body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* Header */
header {
    background: linear-gradient(to right, #4CAF50, #2196F3);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.logo {
    font-size: 24px;
}

.logo a {
    text-decoration: none;
    color: white;
}

nav {
    display: flex;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
}

.right-side {
    display: flex;
    align-items: center;
}

header .btn {
    background: #2196F3;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    margin: 0 5px;
    cursor: pointer;
} 

header .btn a {
    text-decoration: none;
    color: white;
}

/* Main */
main {
    width: 70%;
    margin: 0 auto;

}

h1 {
    text-align: center;
}

/* Home Page */
div.home-page h1,
div.home-page h2,
div.home-page img,
div.home-page p {
    display: flex;
    justify-content: center;
    text-align: center;
}

div.home-page li {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    list-style-type: none;
    margin-bottom: 3px;
}

div.home-page ol {
    margin: 25px;
}

/* Footer */
footer {
    background: linear-gradient(to right, #2196F3, #4CAF50);
    color: white;
    padding: 10px 0;
    margin-top: auto; 
}

.footer {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.footer a {
    text-decoration: none;
    color: white;
    margin: 0 25px;
}

.footer a:hover {
    text-decoration: underline;
}