div.card {
    width: 70%;
    background-color: #f0f0f0;
    border-radius: 10px;
    margin: 40px auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
  }
  
.card h2 {
    /* background-color: #333333; */
    background-color: #36a2a1;
    color: #ffffff;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.form-group {
    margin: 20px;
}
.form-group label {
    display: block;
    font-weight: bold;
}
  
.form-group input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
}
  
.form-group input {
    border-radius: 5px;
    border: 1px solid #ccc;
}
  
.form-submit {
    padding: 10px 20px;
    /* background-color: #333333; */
    background-color: #2196F3;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    width: 50%;
    margin: 20px 25%;
}
