table {
    border-color: black;
    border: solid;
    border-width: 1px;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
    margin: 5px auto;
}

th {
    background-color: #2196F3;
    color: white;
    padding: 5px;
    border-radius: 5px;
    
}

td {
    margin: 1px auto;
    padding: 5px auto;
    text-align: center;
}

table.contributors {
    width: 50%;
    background: #f0f0f0;
}

table.contributors td {
    border: 1px solid black;
    border-radius: 5px;
}

table tr:hover {
    background: linear-gradient(to right, lightblue, lightblue);
}