{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Components Library</title>
{% endblock %}
{% block static_ref %}<link rel="stylesheet" href="{% static '/css/styles.css' %}">{% endblock %}

{% block main_content %}
<h1>
    ~ Components Library ~
</h1>

<div class="library">
    <a href="{% url 'cpu-list' %}" class="lib-cpu">Processors</a>
    <a href="{% url 'mobo-list' %}" class="lib-mobo">Motherboards</a>
    <a href="{% url 'gpu-list' %}" class="lib-gpu">Graphics Cards</a>
    <a href="{% url 'ram-list' %}" class="lib-ram">RAM Modules</a>
    <a href="{% url 'storage-list' %}" class="lib-ssd">Internal Storage</a>
    <a href="{% url 'psu-list' %}" class="lib-psu">Power Supplies</a>
    <a href="{% url 'case-list' %}" class="lib-case">Computer Cases</a>
</div>
{% endblock %}