{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Index Page</title>
{% endblock %}
{% block static_ref %}<link rel="stylesheet" href="{% static '/css/styles.css' %}">{% endblock %}

{% block main_content %}
<div class="home-page">
    <h1>Welcome to PC Show Off</h1>
        <br>
    <img src="https://desktop.bg/system/images/410036/normal/grigs_leopard_2_amd_zen4.jpg" alt="home-page-img">
        <br>
        <br>
        <p>At PC Show Off, we believe that every computer rig is unique and deserves to be shared with the world. Create a profile and showcase your PC by selecting each component from our comprehensive database. Can't find your exact part? Don't worry, you can submit a request to add it to our database!</p> 
    <h2>How it works:</h2>
        <ol>
            <li>Create a profile to get started.</li>
            <li>Complete the online form for your PC build by choosing components from our list.</li>
            <li>If you can't find a specific part, submit a form to add it to our database.</li>
            <li>Your requested component will be reviewed by our staff before appearing in the list.</li>
            <li>Show off your PC build to the world!</li>
        </ol>
    <p>Join the PC Show Off community today and start sharing your unique computer rig with other enthusiasts!</p>
</div>
{% endblock %}