{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>GPU Edit</title>
{% endblock %}
{% block static_ref %}<link rel="stylesheet" href="{% static '/css/styles.css' %}">{% endblock %}

{% block main_content %}
<div class="card">
    <h2>
        GPU Edit
    </h2>
    <form class="form-group" action="{% url 'gpu-edit' gpu_id=object.pk %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        <button type="submit" class="form-submit">
            Verify
        </button>
    </form>
</div>
{% endblock %}